# Dependencias
node_modules/

# Reportes generados
semgrep-report.json
coverage/

# Variables de entorno
.env
.env.local
.env.production

# Archivos temporales
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
